*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    /* height: 1100vh; */
}
nav{
    width: 100%;
    height: 80px;
    border-top: 5px solid rgb(55, 183, 233);
    border-bottom: 5px solid rgb(55, 183, 233);
    display: flex;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0px;
    cursor: pointer;
    background-color: white;
    z-index: 1;
}
#art1{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
}
#art{
    width: 15%;
    height: 100%;
    border-radius: 100px 0px 100px 0px;
    position: absolute;
    left: 8%;
    background-color: rgb(55, 183, 233);;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clinicart{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
#navdata{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    margin-left: 30%;
    margin-right: 5%;
}
#log,#Appoint{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; 
    background-color: white;
    border: none;
    margin-left: 20px;
}
#log:hover,#Appoint:hover{
    height: 110%;
    color: aqua;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    top: -5%;
}
#home,#about,#service,#pagelist,#contact,#Appointdetails{
    position: relative;
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-left: 20px;
    /* background-color: yellow; */
}
#home:hover,#about:hover,#service:hover,#contact:hover{
    /* background-color: blue; */
    color: aqua;
    top: -6%;
    position: relative;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    animation: navmoves 0.5s linear forwards;
}
#pagelist:hover{
    /* background-color: blue; */
    color: aqua;
    top: -6%;
    position: relative;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    animation: navmove 0.5s linear forwards;
}
/* @keyframes navmove {
    from{
        width: 0%;
    }
    to{
        width: 10%;
    }
}
@keyframes navmoves {
    from{
        width: 100%;
    }
    to{
        width: -100%;
    }
} */
#list{
    width: 150px;
    height: 180px;
    position: absolute;
    top: 80px;
    border-radius: 10px;
    padding-top: 10px;
    text-indent: 10px;
    list-style: none;
    background-color: white;
    line-height: 30px;
    display: none;
}
#pagelist:hover #list{
    display: block;
    animation: pageAnimation 0.5s;
}
li:hover{
    background-color: skyblue;
}
@keyframes pageAnimation{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
}
#docimage{
    width: 100%;
    height:120vh;
    background-image: url(./Asset/images/doctor1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: brightness(40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#heading,#heading2{
    color: white;
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
}
#health{
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 35%;
    text-align: center;
}
#care{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 15%;
    font-size: 60px;
}
#smile{
    text-align: center;
    position: absolute;
    top: 180px;
    left: 20%;
    font-size: 20px;
}
#appointment{
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 35%;
    background-color: aqua;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
#contactus{
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 55%;
    background-color: aqua;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
#contactus:hover{
    background-color:rgb(55, 183, 233) ;
    transition: all 0.5s;

}
#appointment:hover{
    background-color:rgb(55, 183, 233) ;
    transition: all 0.5s;

}
#docimage{
    width: 100%;
    height:50vh;
    position: absolute;
    top: 10%;
    background-image: url(./Asset/images/doctor1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: brightness(50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#us{
    font-size: 60px;
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
}
#abho{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 40%;
    left: 10%;
}
#servicespage{
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 70vh;
}
#ourser{
    text-align: center;
    position: relative;
    top: 8%;
    color: aqua;
}
#exploreser{
    text-align: center;
    position: relative;
    top: 9%;
    font-size: 40px;
}
#mainservice{
    width: 90%;
    height: 70%;
    position: relative;
    top:12%;
    left: 5%;
    background-color:rgba(135, 207, 235, 0.171);
    box-shadow: 0px 0px 120px skyblue;
}
#subservice1{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#service1{
    width: 32%;
    height: 100%;
    background-color: white;
}
#serviceimg1{
    width: 80%;
    height: 50%;
    overflow: hidden;
    position: relative;
    top: 45px;
    left: 42px;
    /* border: 2px solid black; */
}
#servicing1{
    width: 100%;
    height: 100%;
    background-image: url(./Asset/images/service-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
#service1:hover #servicing1{
    transform: scale(1.2);
    transition: all 0.5s;
    background-color:  rgba(135, 207, 235, 0.245);
}
#service1:hover{
    background-color:  rgba(135, 207, 235, 0.245);
}
#service1:hover .read{
    animation: readmove 0.5s linear forwards;
}
@keyframes readmove {
    from{
        transform: translatex(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
    }
}
.dental{
    position: relative;
    top: 50px;
    text-align: center;
}
.dentaldata{
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 20px;
    padding-left: 30px;
    padding-right:30px;
}
.read{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    position: relative;
    top: 80px;
    left: 35%;
}
#service2{
    width: 32%;
    height: 100%;
    background-color:white;
}
#serviceimg2{
    width: 80%;
    height: 50%;
    overflow: hidden;
    position: relative;
    top: 45px;
    left: 42px;
}
#servicing2{
    width: 100%;
    height: 100%;
    background-image: url(./Asset/images/service-2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
#service2:hover #servicing2{
    transform: scale(1.2);
    transition: all 0.5s;
    background-color:  rgba(135, 207, 235, 0.245);
}
#service2:hover{
    background-color:  rgba(135, 207, 235, 0.245);
}
#service2:hover .read{
    animation: readmove 0.5s linear forwards;
}
#service3{
    width: 32%;
    height: 100%;
    background-color: white
}
#serviceimg3{
    width: 80%;
    height: 50%;
    overflow: hidden;
    position: relative;
    top: 45px;
    left: 42px;
}
#servicing3{
    width: 100%;
    height: 100%;
    background-image: url(./Asset/images/service-3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
#service3:hover #servicing3{
    transform: scale(1.2);
    transition: all 0.5s;
    background-color:  rgba(135, 207, 235, 0.245);
}
#service3:hover{
    background-color:  rgba(135, 207, 235, 0.245);
}
#service3:hover .read{
    animation: readmove 0.5s linear forwards;
}
#subservice2{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10%;
}
#service4{
    width: 32%;
    height: 100%;
    background-color:white;
}
#serviceimg4{
    width: 80%;
    height: 50%;
    overflow: hidden;
    position: relative;
    top: 45px;
    left: 42px;
}
#servicing4{
    width: 100%;
    height: 100%;
    background-image: url(./Asset/images/service-4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
#service4:hover #servicing4{
    transform: scale(1.2);
    transition: all 0.5s;
    background-color:  rgba(135, 207, 235, 0.245);
}
#service4:hover{
    background-color:  rgba(135, 207, 235, 0.245);
}
#service4:hover .read{
    animation: readmove 0.5s linear forwards;
}
.dental{
    position: relative;
    top: 50px;
    text-align: center;
}
.dentaldata{
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 20px;
    padding-left: 30px;
    padding-right:30px;
}
#service5{
    width: 32%;
    height: 100%;
    background-color: white;
}
#serviceimg5{
    width: 80%;
    height: 50%;
    overflow: hidden;
    position: relative;
    top: 45px;
    left: 42px;
}
#servicing5{
    width: 100%;
    height: 100%;
    background-image: url(./Asset/images/service-5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
#service5:hover #servicing5{
    transform: scale(1.2);
    transition: all 0.5s;
    background-color:  rgba(135, 207, 235, 0.245);
}
#service5:hover{
    background-color:  rgba(135, 207, 235, 0.245);
}
#service5:hover .read{
    animation: readmove 0.5s linear forwards;
}
#service6{
    width: 32%;
    height: 100%;
    background-color: white;
}
#serviceimg6{
    width: 80%;
    height: 50%;
    overflow: hidden;
    position: relative;
    top: 45px;
    left: 42px;
}
#servicing6{
    width: 100%;
    height: 100%;
    background-image: url(./Asset/images/service-6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
#service6:hover #servicing6{
    transform: scale(1.2);
    transition: all 0.5s;
}
#service6:hover{
    background-color:  rgba(135, 207, 235, 0.245);
}
#service6:hover .read{
    animation: readmove 0.5s linear forwards;
}
#aboutclinic{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    position: relative;
    top: 230vh;
}
#Detailsofclinic{
    width: 100%;
    height: 70%;
    background-color: rgb(12,60,81);
    position: relative;
    bottom: -225px;
    display: flex;
    justify-content: space-around;
}
.abtclinic{
    width: 300px;
    height: 300px;
    /* border: 2px solid black; */
    background-color: transparent;
    position: relative;
    top: 10%;
    color: white;
    overflow: hidden;
}
.siteinfo{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 20%;
    top: 10%;
}
#map{
    color: white;
    position: relative;
    left: -15%;
    top: 25%;
    font-size: 20px;
}
#mapdata{
    position: relative;
    padding-left: 30%;
    margin-top: 20%;
    font-size: 18px;
    color: white;
}
#call{
    color: white;
    position: relative;
    left: 20%;
    top: 7%;
    font-size: 20px;
}
#callnum{
    position: relative;
    padding-left: 30%;
    font-size: 18px;
    color: white;

}
#mailsym{
    color: white;
    position: relative;
    left: 20%;
    top: 7%;
    font-size: 20px;
}
#mailinfo{
    position: relative;
    padding-left: 30%;
    font-size: 18px;
    color: white;

}
#socialmedia{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    margin-left: 0px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialicondiv{
    width: 40px;
    height: 40px;
    /* background-color: brown; */
    border-radius: 100%;
    margin-left: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid white;
    transition: all 0.5s;
}
.socialicondiv:hover{
    background-color: white;
    color: skyblue;
    transition: all 0.5s;
}
.servicelist,.quicklink{
    list-style: none;
    /* background-color: yellow; */
    padding-left: 20%;
    position: relative;
    top: 15%;
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
    transition: all 0.5s ;
}
.servicelist{
    margin-top: 10px;
}
.greatersym{
    font-size: 15px;
    margin-right: 20px;
}
#newsletter{
    font-size: 18px;
    padding-left: 60px;
    position: relative;
    top: 15%;
    line-height: 25px;
}
#mailsign{
    width: 200px;
    height: 50px;
    position: relative;
    top: 30%;
    left: 18px;
    border: none;
    outline: none;
    text-indent: 30px;
}
#signsub{
    height: 50px;
    width: 80px;
    position: relative;
    right: -13px;
    /* left: -5px; */
    top: 30%;
    background-color: skyblue;
    color: white;
    border: none;
    outline: none;
    transition: all 0.5s;
}
#signsub:hover
{
    background-color: rgb(55, 183, 233);
    transition: all 0.5s;
}
.servicelist:hover,.quicklink:hover{
    color: skyblue;
    letter-spacing: 2px;
    transition: all 0.3s ;
}
#sitebar{
    width: 80%;
    height: 1px;
    background-color: skyblue;
    position: relative;
    top: 15%;
    left: 10%;
}
#sitedata{
    color: white;
    position: relative;
    top: 18%;
    left: 45%;
    font-size: 18px;
}
#rights{
    color: white;
    position: relative;
    top: 18%;
    margin-left: 45%;
    font-size: 18px;
}
#seesite{
    width: 10px;
    height: 10px;
    background-color: rgb(12,60,81);
    color: white;
    position: relative;
    border-radius: 100%;
    border: 2px solid white;
    text-align: center;
    font-size: 10px;
    margin-left: 44%;
    top: 20.5%; 
}
#pageup{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: skyblue;
    position: fixed;
    right: 80px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
#arrow{
    position: absolute;
    color: white;
    font-size: 30px;
}
#pageup:hover{
    background-color: rgb(55, 183, 233);
    transition: all 0.5s;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}

